@page
@using EventiaWebapp.Models
@using EventiaWebapp.Services
@model EventiaWebapp.Pages.EventsModel
@{
    var number = 0;
}

  
<h1 style="padding: 20px 0 40px 0">UPCOMING EVENTS</h1>
    
<div class="accordion" id="accordionPanel">
        
    @foreach(var events in Model.EventList )
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-@number">
                <button style="background-color: #212529" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@number" aria-expanded="False" aria-controls="collapse-@number">
                    <strong style="color: white">@events.Titel</strong> <span class="event-time" style="color: white">&emsp; @events.Date.ToShortDateString() - @events.Date.ToShortTimeString()</span> 
                </button>
            </h2>
            <div id="collapse-@number" style="background-color: #2f3337" class="accordion-collapse collapse" aria-labelledby="heading-@number">
                <div class="accordion-body" style="color: white">
                    <h4> @events.Titel kommer till @events.Place </h4><br/><br/> 
                    @events.Description
                </div>
                
            <div class="join-btn d-grid gap-2 d-md-flex justify-content-md-end">
                <form method="post" asp-route-idEvent="@events.EventId">
                <button class="btn btn-dark">Join</button>
                </form>
            </div>
               
            </div>
        </div>

        number += 1;
    }

</div>

