@page
@using EventiaWebapp.Services
@model EventiaWebapp.Pages.MyEventsModel
@{
}
<h1>MY EVENTS</h1>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Event</th>
        <th scope="col">Where</th>
        <th scope="col">When</th>
        <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.UserOneEvents.Count; i++)
    {
        <tr>
            <th scope="row">@(i+1)</th>
            <td>@Model.UserOneEvents[i].Titel</td>
            <td>@Model.UserOneEvents[i].Place</td>
            <td>@Model.UserOneEvents[i].Date.ToShortDateString()</td>
            <td>@Model.UserOneEvents[i].Date.ToShortTimeString()</td>
        </tr>
    }

    </tbody>
</table>
