@page
@using EventiaWebapp.Services
@model EventiaWebapp.Pages.MyEventsModel
@{
}
<h1 style="padding: 20px 0 40px 0">@Model.EventiaUser.UserName.ToUpper()'S EVENTS</h1>

<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Event</th>
        <th scope="col">Where</th>
        <th scope="col">When</th>
        <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.UserEvents.Count; i++)
    {
        <tr>
            <th scope="row">@(i+1)</th>
            <td>@Model.UserEvents[i].Titel</td>
            <td>@Model.UserEvents[i].Place</td>
            <td>@Model.UserEvents[i].Date.ToShortDateString()</td>
            <td>@Model.UserEvents[i].Date.ToShortTimeString()</td>
        </tr>
    }

    </tbody>
</table>
