@page "{eventId}"
@model EventiaWebapp.Pages.Events.ConfirmationModel
@{
}

<div class="card" style="width: 45rem;">
    <div class="card-header">
        <b>@Model.ThisEvent.Place</b> presenterar stolt
    </div>
    <div class="card-top">
        <img src="/img/confirm.jpg" class="card-img-top" alt="Event picture">
        <h3 class="display-3 card-title">@Model.ThisEvent.Titel</h3>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.ThisEvent.Description <br/><br/> 
            Seats available: @Model.ThisEvent.Spots_Available <br/> 
            Address: @Model.ThisEvent.Address </p>
        <div class="d-flex justify-content-center">
            <form method="post" asp-route-idEvent="@Model.ThisEvent.EventId">
                <button type="submit" class="btn btn-lg btn-dark">Join event</button>
            </form>
        </div>
    </div>
    <div class="card-footer">
        @Model.ThisEvent.Date.ToShortDateString() - @Model.ThisEvent.Date.ToShortTimeString() &emsp;|&emsp; @Model.ThisEvent.Place &emsp;|&emsp; @Model.ThisEvent.Organizer.Name
    </div>
</div>

@if (HttpContext.Request.Method == "GET")
{
    <h5></h5>
}
else
{   
    <div class="success d-flex justify-content-center">
    <h4>You successfully joined this event!</h4>
    </div>
}

<style>

    .card {
        border: none;
    }

    .card-header {
        text-align: center;

    }

    .card-top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        position: relative;
    }

    .card-title {
        color: white;
        text-shadow: 2px 2px 2px darkgrey;
        padding: 0 100px;
        position: absolute;
    }

    .card-text {
        font-size: large;
        padding: 10px 0;
    }

    .card-body {
        color: white;
        background-color: #2f3337;
    }

    .card-footer {
        text-align: center;
    }

    .btn-dark {
        border: 2px solid white;
    }

    .btn-dark:hover {
        border: 2px solid black;
        background: white;
        color: black;
    }

    .success {
        padding: 40px 0;

    }
</style>