@page "{eventId}"
@model EventiaWebapp.Pages.Events.ConfirmationModel
@{
}

<div class="card" style="width: 45rem;">
    <div class="card-header">
        <b>@Model.ThisEvent.Place</b> presenterar stolt
    </div>
    <div class="card-top">
        <img src="@Model.ThisEvent.EventImg" class="event-img card-img-top">
        <h3 class="display-3 card-title">@Model.ThisEvent.Titel</h3>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.ThisEvent.Description <br/><br/> 
            <b>Seats available:</b> @Model.ThisEvent.Spots_Available <br/> 
            <b>Address:</b> @Model.ThisEvent.Address </p>
        <div class="d-flex justify-content-center">
            <form method="post" asp-route-idEvent="@Model.ThisEvent.EventId">
                <button type="submit" class="btn btn-lg btn-dark">Join event</button>
            </form>
        </div>
    </div>
    <div class="card-footer">
        @Model.ThisEvent.Date.ToShortDateString() - @Model.ThisEvent.Date.ToShortTimeString() &emsp;|&emsp; @Model.ThisEvent.Place &emsp;|&emsp; @@Model.ThisEvent.Organizer.Name@@
    </div>
</div>

@if (HttpContext.Request.Method == "GET")
{
    <div class="card py-0 success d-flex justify-content-center my-2">
    <h5 class="display-6 py-1">Not joined</h5>
    </div>
}
else
{   
    <div class="card py-0 success d-flex justify-content-center my-2">
        <h5 class="display-6 py-1">You successfully joined @Model.ThisEvent.Titel!,
            See you there @Model.EventiaUser.FirstName!</h5>
    </div>
}
